
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Akansha More Projects</title>
    <link rel="stylesheet" href="projects.css">
</head>
<body>
    <div class="projects-container">
        <div class="title-container">
            <span class="title-text">Projects</span>
        </div>

        <div class="project-section">
            <div class="project-title">
                <a href = "https://github.com/akanshamore/originbluy" target="_blank" class="project-link">
                <span>To Do List</span>
                </a>
            </div>
            <p class="project-description">Description about To Do List</p>
        </div>

        <div class="project-section">
            <div class="project-title">
                <a href="https://github.com/akanshamore/poll-app" target="_blank" class="project-link">
                <span>Poll App</span>
                </a>
            </div>
            <p class="project-description">Poll App description</p>
        </div>

        <div class="project-section">
            <div class="project-title">

                <a href = "https://github.com/akanshamore/originbluy" target="_blank" class="project-link">
                <span>Media Capture and Storage Application</span>
                </a>
            </div>
            <p class="project-description">Media capture and storage application description</p>
        </div>
    </div>
</body>
</html>
